* {
    font-family: Roboto , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    }

header{
    background-color: black;
}



.container{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    
}


.logoMenu{
    display: flex;
    justify-content: space-between;
    
}

.menu{
    display: flex;
    padding: 40px 20px 41px 300px ; 

}

.menu p{
    color: white;
    font-size: 16px;
    font-weight: 400;
     padding: 0px 13px 0px 13px ;
    
} 

 .logo{
    width: 234px;
height: 80px;

padding: 10px,300px 10px 20px;
 }




 .delivery{
    padding: 19px 35px 19px 0px;
    display: flex;
 }


 .podioPizza{
    display: flex;
    
    padding: 30px 0px 16px 51px;
 }


 
 h1{
    display: flex;
     justify-content: center;
     padding: 26px 120px 30px 120px;
     color: #FC200C;

 }

 h2{
 padding-bottom: 20px;
 }

 li{
    font-weight: 700;
 }

 .tiposPizzas{
    padding: 26px 0px 60px 51px;
 }

 .imagenDelivery{
    padding: 26px 0px 89px 90px;
 }

 footer{
    background-color: black;
    color:white
}  
 .menuLogo{
    display: flex ;
    
 }
 
 .logoAbajo{
    padding: 35px 42px 35px 692px;
 }

.menufooter{
    padding: 19px 0px 19px 20px;

}

.menufooter p{
    padding-bottom: 12px;
   

}